body {
    font-family: 'Roboto', 'Roboto Slab', 'serif';
    margin: 0;
    background-color: $background-white;
}

.text-center {
    text-align: center;
}

.chaordic-link {
    color: $chaordic-red;
    text-decoration: none;

    &:hover {
        color: lighten($chaordic-red, 10%);
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: none;
    background: none;
}
